/* body */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* header */
header{
    background-color: black;
    color: gold;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav a{
    color: gold;
    text-decoration: none;
    margin: 0 10px;
}
/* section hero */
.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: gold ;
    color: black;
}
.button{
    background-color: black;
    color: gold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* section about */
.about{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.about h2{
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* products */

section.products{
    margin: 0%;
    padding: 10px;
    background-color: gold;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

/* cards */

.cards{
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin:40px ;
}
 .card{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 2px 8px gray;
 }

 .card img{
    width: 100%;
    border-radius: 5px;
    height: 50%;
 }
button{
    font-size: 20px;
    align-items: center;
    margin-top: 0px;
}

/*  */



































footer{
    background-color: black;
    color: gold;
    text-align: center;
    padding: 10px;
    margin-top: 9px;
}